@import "../../../../../../assets/styles/variables";
@import "../../../../../../assets/styles/whatsapp/animation-keyframes";

.emoji {
    animation: keyframe-scale-show 0.5s;
    cursor: pointer;
    height: $pix-32;
    margin: $pix-6;
    width: $pix-32;
}